{% extends "layout.jinja2" %}

{% block content %}
    <h1>Collecting Heights</h1>
                <h3>Please fill the entries to get population statistics on height</h3>
                <form action="{{request.route_path('success')}}" method='POST'>
                    <input  title="Your email will be safe with us"
                            placeholder="Enter your email address"
                            type="email"
                            name="email_name"
                            required /> <br>

                    <input  title="Your data will be safe with us"
                            placeholder="Enter your height in inches"
                            type="number"
                            min="36"
                            max="96"
                            step="0"
                            name="height_name"
                            required /> <br>
                    <button type="submit">Submit</button>
                </form>
{% endblock content %}
