{% extends "layout.jinja2" %}

{% block content %}
    <h1>Thank you for your submission. <br>
    You will receive an email shortly.<br>
    {{email}}<br>
    {{height}}</h1>

{% endblock content %}
