html, body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #006666;
    color: #e6ffff;
    overflow: hidden;
    text-align: center;
}

.container h1 {
    font-family: Arieal, sans-sarig;
    font-size: 30px;
    margin-top: 80px;
    color: #DDCCEE
}

.container form{
    margin: 20px;

}

.container input {
    width: 350px;
    height: 15px;
    font-size: 15px;
    margin: 2px;
    padding: 20px;
    transition: all 0.2s ease-in-out;

}

.container button {
    width: 70px;
    height: 30px;
    background-color: steelblue;
    margin: 4px;

}

.container li {
    display: inline;

}

.container p {
    margin: 150px;
}
